spring:
  application:
    name: business-partners-service
  datasource:
    url: jdbc:mysql://dev-db-mysql-do-user-11817333-0.e.db.ondigitalocean.com:25060/ERP-BUSSINES-PARTNERS?ssl-mode=VERIFY_CA&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: doadmin
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate:
        format_sql: true

  data:
    redis-1:
      host: redis
      port: 6379

server:
  port: 8082