spring:
  application:
    name: business-partners-service
  datasource:
    url: jdbc:mysql://localhost:3306/ERP-BUSSINES-PARTNERS?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    # url: jdbc:mysql://192.168.1.73:33307/control-informacion?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: pass
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        format_sql: true

  spring:
    security:
      oauth2:
        resourceserver:
          jwt:
            issuer-uri: https://<your-keycloak-server>/realms/<your-realm>